/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* layout */
:root {
  --primary: #f1356d;
  --secondary: #333;
  --error: #e7195a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Quicksand;
  color: var(--secondary);

}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: var(--secondary);
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 2px solid #f2f2f2;
}

.navTitle h1 {
  color: var(--primary);
}

.navMenu a {
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.navMenu a:hover {
  color: var(--primary)
}

/* Home */
.blogs {
  padding-top: 20px;

}

/* Blog Details */
.blogDetails {
  border-radius: 4px;
  max-width: 1200px;
  margin: 15px auto;
  padding: 10px 0;
  box-shadow: 5px 8px 10px rgba(0,0,0,0.05);
}

.blogDetails h3 {
  color: var(--primary);
  padding-bottom: 5px;
}

.blogDetails span {
  color: var(--primary);
}

/* Blog Form */
.blogForm {
  max-width: 400px;
  margin: 15px auto;
}

.blogForm h2 {
  color: var(--primary);
  text-align: center;
  margin: 20px 0;
}

.blogForm label {
  display: block;
  margin-bottom: 10px;;
}

.blogForm input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 6px 10px;
}

.blogForm input[name='body'] {
  height: 60px;
}

.blogForm button {
  padding: 8px 14px;
  background-color: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.error {
  color: var(--error);
  margin-top: 10px;
}

